@model IEnumerable<GardenCommunity.Common.Entities.Rate>

@{
    ViewData["Title"] = "GetRates";
}

<h2>Avaliable rates</h2>
@Html.ActionLink("Add new rate", "AddRate", "Rate", null, new { @class = "btn btn-primary" })
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Value</th>
            <th scope="col">Fine %</th>
            <th scope="col">Bank Collection %</th>
            <th scope="col">Date</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rate in Model)
        {
            <tr>
                <th scope="row">@rate.Id</th>
                <td>@rate.RateName</td>
                <td>@rate.RateValue</td>
                <td>@rate.FinePercent</td>
                <td>@rate.BankCollectionPercent</td>
                <td>@rate.Date.ToShortDateString()</td>
                <td>@Html.ActionLink("Edit", "EditRate", "Rate", new { @id = rate.Id }, new { @class = "btn btn-primary" })</td>
                <td>@Html.ActionLink("Remove", "RemoveRate", "Rate", new { @id = rate.Id }, new { @class = "btn btn-primary", @onclick = "return confirm('Are you sure you wish to remove this rate?');" })</td>
            </tr>
        }
    </tbody>
</table>
