@model GardenCommunity.Web.Models.Area

@{
    ViewBag.Title = "GetArea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h4>Area's details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Square)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Square)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPrivate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPrivate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasElectricity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasElectricity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentAreaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentAreaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemberId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberId)
        </dd>

    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">@Html.Label("Id")</th>
            <th scope="col">@Html.Label("Last name")</th>
            <th scope="col">@Html.Label("First name")</th>
            <th scope="col">@Html.Label("Middle name")</th>
            <th scope="col">@Html.Label("Address")</th>
            <th scope="col">@Html.Label("Phone")</th>
            <th scope="col">@Html.Label("Additional info")</th>
            <th scope="col">@Html.Label("Is active member")</th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Members)
        {
            <tr>
                <th scope="row">@Html.DisplayFor(modelItem => item.Id)</th>
                <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                <td>@Html.DisplayFor(modelItem => item.MiddleName)</td>
                <td>@Html.DisplayFor(modelItem => item.Address)</td>
                <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                <td>@Html.DisplayFor(modelItem => item.AdditionalInfo)</td>
                <td>@Html.DisplayFor(modelItem => item.IsActiveMember)</td>               
            </tr>
        }
    </tbody>
</table>

<p>
    @Html.ActionLink("Edit", "EditArea", "Area", new { @id = Model.Id }, null) |
    @Html.ActionLink("Back to List", "GetAreas", "Area")
</p>
