@model IEnumerable<GardenCommunity.Web.Models.Area>

@{
    ViewBag.Title = "GetAreas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Avaliable areas</h2>

<p>
    @Html.ActionLink("Add new area", "AddArea", "Area", null , new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th scope="col">@Html.DisplayNameFor(model => model.Id)</th>
        <th scope="col">@Html.DisplayNameFor(model => model.Square)</th>
        <th scope="col">@Html.DisplayNameFor(model => model.IsPrivate)</th>
        <th scope="col">@Html.DisplayNameFor(model => model.HasElectricity)</th>
        <th scope="col">@Html.DisplayNameFor(model => model.ParentAreaId)</th>
        <th scope="col">@Html.DisplayNameFor(model => model.MemberId)</th>
        <th></th>       
    </tr>

@foreach (var item in Model)
{
    <tr>
        <th scope="row">@Html.DisplayFor(modelItem => item.Id)</th>
        <td>@Html.DisplayFor(modelItem => item.Square)</td>
        <td>@Html.DisplayFor(modelItem => item.IsPrivate)</td>
        <td>@Html.DisplayFor(modelItem => item.HasElectricity)</td>
        <td>@Html.DisplayFor(modelItem => item.ParentAreaId)</td>
        <td>
            @Html.ActionLink(item.Members.Last().LastName + " " + item.Members.Last().FirstName + " " + item.Members.Last().MiddleName, "GetMember", "Member", routeValues: new { @id = item.Members.Last().Id }, htmlAttributes: null )
        </td>
        <td>
            @Html.ActionLink("Details", "GetArea", "Area", new { @id = item.Id }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Edit", "EditArea", "Area", new { @id = item.Id }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Remove", "RemoveArea", "Area", new { @id = item.Id }, new { @class = "btn btn-primary", @onclick = "return confirm('Are you sure you wish to remove this area?');" })

        </td>

    </tr>
}

</table>
