@model IEnumerable<GardenCommunity.Web.Models.Member>

@{
    ViewBag.Title = "GetMembers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Avaliable members</h2>
@Html.ActionLink("Add new member", "AddMember", "Member", null, new { @class = "btn btn-primary" })
<br />
<br />
<div class="form-group" id="membersFiltr">
    @Html.Label("Show members", htmlAttributes: new { @class = "control-label col-md-1" })
    <div class="col-md-2">
        @Html.DropDownList("ddl_membersFiltr", ViewBag.ddl_membersFiltr as SelectList, new { @class = "form-control" })
    </div>
    @Html.ActionLink("Show", "GetMembers", "Member", null, new { @class = "btn btn-primary", @id = "showMembers" })
</div>
<br />
<br />
<div id="mainTable">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.Id)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.LastName)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.FirstName)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.MiddleName)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Address)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Phone)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.AdditionalInfo)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.IsActiveMember)</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@Html.DisplayFor(modelItem => item.Id)</th>
                    <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                    <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                    <td>@Html.DisplayFor(modelItem => item.MiddleName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Address)</td>
                    <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                    <td>@Html.DisplayFor(modelItem => item.AdditionalInfo)</td>
                    <td>@Html.DisplayFor(modelItem => item.IsActiveMember)</td>
                    <td>@Html.ActionLink("Edit", "EditMember", "Member", new { @id = item.Id }, new { @class = "btn btn-primary" })</td>
                    <td>
                        @if (item.IsActiveMember == true)
                        {
                            @Html.ActionLink("Remove", "RemoveMember", "Member", new { @id = item.Id }, new { @class = "btn btn-primary", @onclick = "return confirm('Are you sure you wish to remove this member?');" })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<span id="getMembersLink" hidden="hidden">/GardenCommunity.Web/Member/GetMembers/</span>
@section Scripts {

    <script type="text/javascript">       
        $('#ddl_membersFiltr').change(function () {
            
            var href = $('#getMembersLink').text() + $('#ddl_membersFiltr').val();
            $('#showMembers').attr('href', href);    
        });
    </script>
}