@model IEnumerable<GardenCommunity.Common.Entities.Payment>

@{
    ViewData["Title"] = "GetPayments";
}

<h2>Avaliable payments</h2>

<p>
    @Html.ActionLink("Add new payment", "AddPayment", "Payment", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Id)</th>
        <th>@Html.DisplayNameFor(model => model.DateOfPayment)</th>
        <th>@Html.DisplayNameFor(model => model.PaidFor)</th>
        <th>@Html.DisplayNameFor(model => model.ToPay)</th>
        <th>@Html.DisplayNameFor(model => model.RateId)</th>
        <th>@Html.DisplayNameFor(model => model.MemberId)</th>
        <th></th>        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th scope="row">@Html.DisplayFor(modelItem => item.Id)</th>
            <td>@Html.DisplayFor(modelItem => item.DateOfPayment)</td>
            <td>@Html.DisplayFor(modelItem => item.PaidFor)</td>
            <td>@Html.DisplayFor(modelItem => item.ToPay)</td>
            <td>@Html.ActionLink(item.Rate.RateName, "GetRate", "Rate", new { @id = item.RateId }, null)</td>
            <td>@Html.ActionLink(item.Member.LastName + " " + item.Member.FirstName + " " + item.Member.MiddleName, "GetMember", "Member", new { @id = item.MemberId }, null) </td>
            <td>
                @Html.ActionLink("Details", "GetPayment", "Payment", new { @id = item.Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Remove", "RemovePayment", "Payment", new { @id = item.Id }, new { @class = "btn btn-primary", @onclick = "return confirm('Are you sure you wish to remove this payment?');" })
            </td>
        </tr>
    }
</table>
